# Banco de dados (Prisma Accelerate)
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=SEU_API_KEY"
DIRECT_URL="postgres://usuario:senha@host:5432/banco"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-um-secret-com-openssl-rand-base64-32"
